.container {
    display: grid;
    gap: 15px;
    background-color: rgba(198, 213, 230, 0.61);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top-header {
    display: grid;
    grid-area: 1 / 2 / 2 / 5;
    border: solid;
}
.search {
    display: grid;
}

.header {
    display: grid;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 1;
    padding-right: 100px;
    background-color: rgb(68, 132, 250);
    font: white;
}
.side-title {
    font-size: 2rem;
}

ul li{
    list-style: none;
    color: white;
    font-weight: 400;
}

li {
    padding: .3rem;
    list-style: none;

}


.content {
    grid-area: 2 / 2 / 3 / 4;  
    b 
}
.projects {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 15px;
    
}

.card, .top-header,
.announce-text, .tags
 {
    background-color: white;
}

.right-side {
    grid-area: 2 / 4 / 3 / 5;
}