.container {
    display: grid;
}
.top-header {
    display: grid;
    grid-area: 1 / 2 / 2 / 4;
    border: solid;
}
.search {
    display: grid;
}

.header {
    display: grid;
}

.sidebar {
    grid-area: 1 / 1 / 2 / 1;
}

.content {
    grid-area: 2 / 2 / 3 / 3;
}

.right-side {
    grid-area: 2 / 3 / 3 / 4;
}