.container {
    display: grid;
    gap: 15px;
    background-color: rgba(198, 213, 230, 0.61);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top-header {
    display: grid;
    grid-area: 1 / 2 / 2 / 5;
    border: solid;
}

.search {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
}

.search>input {
    flex: 1 2;
}

.profile-settings {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-evenly;
}
.header {
    display: grid;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 1;
    padding-right: 100px;
    background-color: rgb(68, 132, 250);
    font: white;
}
.side-title {
    font-size: 2rem;
}

ul li{
    list-style: none;
    color: white;
    font-weight: 400;
}

li {
    padding: .3rem;
    list-style: none;

}


.content {
    grid-area: 2 / 2 / 3 / 4;  
}
.projects {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 15px;
    
}

.card-title {
    font-weight: 900;
}
.card {
    border-radius: 5%;
    box-shadow: inset .5em 0 orange;
    font-size: .9rem;
}

.card, .top-header,
.announce-text, .tags
 {
    padding: 1.5rem;
    background-color: white;
}

.right-side {
    grid-area: 2 / 4 / 3 / 5;
}