:root{
    --but-width: 28px;
    --but-height: 28px;
}
.container {
    display: grid;
    gap: 15px;
    background-color: rgba(198, 213, 230, 0.61);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top-header {
    display: grid;
    grid-area: 1 / 2 / 2 / 5;
    border: solid;
}


.search {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
}
.search>button {
    background-image: url(img/magnify\ \(1\).png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: var(--but-width);
    height: var(--but-height);     
    border: none;
    background-color: white;
    padding-right: 50px;
}
.search>input {
    flex: 1 2;
}

.profile-settings {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: space-evenly;
}
.intro {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
}


.interactions {
    grid-area: 2 / 3 / 3 / 4;
    grid-template-columns: 1fr;
    align-self: center;
    display: flex;
    justify-content: space-around;
    
}   



.interactions>button {
    border-radius: 45%;
    padding: .4rem 1.6rem .4rem 1.6rem;
    color:white;
    background-color: rgb(68, 132, 250);
    font-weight: 550;
}
.sidebar {
    grid-area: 1 / 1 / 3 / 1;
    padding-right: 100px;
    background-color: rgb(68, 132, 250);
    font: white;
    font-weight: 400;
}
.side-title {
    font-size: 2rem;
}

ul li{
    list-style: none;
    color: white;
    font-weight: 400;
}

li {
    padding: .3rem;
    list-style: none;

}

.header {
    font-size: 1.3rem;
    font-weight: bold;
}

.content {
    grid-area: 2 / 2 / 3 / 4;  
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    gap: 15px;
    
}

.card-title {
    font-weight: 900;
}
.card {
    border-radius: 5%;
    box-shadow: inset .5em 0 orange;
    font-size: .9rem;
    display: grid;
}
.icon {
 
 
}
.star {
    width: var(--but-width);
    height: var(--but-height); 
    border: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: white;
    background-image: url(img/star-plus-outline\ \(1\).png);
}

.watch {
    width: var(--but-width);
    height: var(--but-height); 
    border: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: white;
    background-image: url(img/eye-plus-outline.png);
}

.share {
    width: var(--but-width);
    height: var(--but-height); 
    border: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: white;
    background-image: url(img/share-variant.png);
}

.card, .top-header,
.announce-text, .tags
 {
    padding: 1.5rem;
    background-color: white;
}

.right-side {
    grid-area: 2 / 4 / 3 / 5;

}

.announce-text>p {
    display:flex;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8rem;
    width: 25ch;
    height: 7ch;
    border-bottom: solid;
    align-self: center;
}
.side-title>li::before {
    content: url(img/checkerboard.png)
}

.main>:nth-child(1)::before {
    content: url(img/home.png);
    padding-right: 10px;
}

.main>:nth-child(2)::before {
    content: url(img/badge-account-horizontal.png);
}

.main>:nth-child(3)::before {
    content: url(img/message.png);
}

.main>:nth-child(4)::before {
    content: url(img/clock-time-eight-outline.png);
}

.main>:nth-child(5)::before {
    content: url(img/note-check-outline.png);
}
.main>:nth-child(6)::before {
    content: url(img/account-multiple.png);
}

.settings>:nth-child(1)::before {
    content: url(img/cog-outline.png);
}

.settings>:nth-child(2)::before {
    content: url(img/help-circle-outline.png);
}
.settings>:nth-child(3)::before {
    content: url(img/shield-check.png);
}
